.body_2 {
  display: flex;
  flex-direction: row;
}

.title {
  font-weight: 700;
  font-size: 18px;
  color: #ff6f0f;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 42px;
  line-height: 57px;
  margin-bottom: 10px;
}

.desc {
  font-weight: 400;
  font-size: 20px;
  color: #7c7c7c;
  line-height: 30px;
}

.buttons {
  margin-top: 3.2rem;
}

.buttons .button {
  background-color: #e9ecef;
  color: #212529;
  border: none;
  border-radius: 6px;
  padding: 12px 2rem;
  display: inline-block;
  margin-right: 10px;
}

.buttons .button-text {
  font-size: 18px;
  line-height: 23.76px;
  font-weight: 700;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 150px;
  margin-left: 150px;
  margin-top: 25px;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-right: 400px;
  margin-top: 10px;
  font-size: 19px;
}

.item {
  display: flex;
  margin-right: 15px;
  margin-left: 15px;
}

.chat {
  border-style: ridge;
  padding-top: 5px;
  padding: 10px;
  border-radius: 5px;
  align-items: center;
}
.body4 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/*footer*/
#contents {
  margin-left: 350px;
  margin-right: 350px;
}

/* upper contents */
#upper {
  margin-top: 60px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom-style: solid;
  border-bottom-color: grey;
}

#left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#col1 {
  list-style-type: none;
}

#col2 {
  list-style-type: none;
}

#col3 {
  list-style-type: none;
}

#right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#boxes {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.button {
  border-style: solid;
  border-width: thin;
  border-color: grey;
  padding: 15px;
}

/* lower contents */
#lower {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#info {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

#info-upper {
  display: flex;
  margin-bottom: 30px;
  flex-direction: column;
  gap: 10px;
}

#info-bottom {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

#items {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#arrow {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  gap: 15px;
}

#bottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 50px;
  margin-top: 20px;
}
