.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 150px;
  margin-left: 150px;
  margin-top: 25px;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-right: 50px;
  margin-top: 10px;
  font-size: 19px;
  width: 800px;
}

.item {
  display: flex;
  margin-right: 15px;
  margin-left: 15px;
}

.search {
  display: flex;
  background-color: #f2f3f6;
  width: 288px;
  height: 40px;
  margin-right: 40px;
  align-items: center;
  padding-left: 10px;
  border: none;
  border-radius: 5px;
}

.chat {
  border-style: ridge;
  padding-top: 5px;
  padding: 10px;
  border-radius: 5px;
  align-items: center;
  width: 80px;
}

.section1 {
  display: flex;
  flex-direction: row;
  width: 1520px;
  height: 784px;
  background-color: #fffae0;
  justify-content: center;
}

.letter {
  color: #212529;
  font-size: 54px;
  padding-top: 200px;
  font-weight: bold;
  height: 146px;
}

.sletter {
  font-size: 20px;
  color: #7c7c7c;
  height: 60px;
  padding-top: 10px;
  margin-bottom: 20px;
}

.image {
  display: flex;
  flex-direction: row;
}

.image1 {
  display: flex;
  flex-direction: row;
  height: 56px;
  width: 180px;
  background-color: #ff6f0f;
  border-radius: 7px;
  justify-content: center;
  align-items: center;
}

.googleplay {
  width: 25px;
  height: 28px;
}
.google {
  margin: 8px;
  color: #ffffff;
  font-size: 20px;
}

.image2 {
  display: flex;
  flex-direction: row;
  height: 56px;
  width: 180px;
  background-color: #ff6f0f;
  border-radius: 7px;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}

.store {
  width: 25px;
  height: 28px;
}

.app {
  margin: 8px;
  color: #ffffff;
  font-size: 20px;
}
.bigimage {
  display: flex;
  justify-content: flex-end;
  width: 655px;
  height: 800px;
}
