.body_2 {
  display: flex;
  flex-direction: row;
}

.title {
  font-weight: 700;
  font-size: 18px;
  color: #ff6f0f;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 42px;
  line-height: 57px;
  margin-bottom: 10px;
}

.desc {
  font-weight: 400;
  font-size: 20px;
  color: #7c7c7c;
  line-height: 30px;
}

.buttons {
  margin-top: 3.2rem;
}

.buttons .button {
  background-color: #e9ecef;
  color: #212529;
  border: none;
  border-radius: 6px;
  padding: 12px 2rem;
  display: inline-block;
  margin-right: 10px;
}

.buttons .button-text {
  font-size: 18px;
  line-height: 23.76px;
  font-weight: 700;
}
