/************** BODY 1 **************/
.body1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* height: 784px; */
  background-color: #fffae0;
  justify-content: center;
}

.box {
  width: 50%;
  justify-content: center;
  margin-left: 15%;
}

.letter {
  color: #212529;
  font-size: 54px;
  padding-top: 200px;
  font-weight: bold;
  height: 146px;
}

.sletter {
  font-size: 20px;
  color: #7c7c7c;
  height: 60px;
  padding-top: 10px;
  margin-bottom: 20px;
}

.image {
  display: flex;
  flex-direction: row;
}

.image1 {
  display: flex;
  flex-direction: row;
  height: 56px;
  width: 180px;
  background-color: #ff6f0f;
  border-radius: 7px;
  justify-content: center;
  align-items: center;
}

.googleplay {
  width: 25px;
  height: 28px;
}

.google {
  margin: 8px;
  color: #ffffff;
  font-size: 20px;
}

.image2 {
  display: flex;
  flex-direction: row;

  height: 56px;
  width: 180px;
  background-color: #ff6f0f;
  border-radius: 7px;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}

.store {
  width: 25px;
  height: 28px;
}

.app {
  margin: 8px;
  color: #ffffff;
  font-size: 20px;
}

.bigimage {
  /* display: flex; */
  /* justify-content: flex-end; */
  /* width: 655px;
  height: 800px;

  justify-content: center;
  align-items: center;
  padding: 1px; */
  width: 50%;
  margin-right: 15%
}
/************** BODY 1 **************/

.body_2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
}

.body_3 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  background-color: #fff8f1;
}

.title {
  font-weight: 700;
  font-size: 18px;
  color: #ff6f0f;
  margin-bottom: 0px;
}

.subtitle {
  margin-top: 10px;
  font-size: 42px;
  line-height: 57px;
  margin-bottom: 10px;
}

.desc {
  margin-top: 10px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 20px;
  color: #7c7c7c;
  line-height: 30px;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.button2 {
  background-color: #e9ecef;
  color: #212529;
  border: none;
  border-radius: 6px;
  padding: 12px 1rem;
  margin-right: 10px;
  width: fit-content;
}

.button-text {
  font-size: 18px;
  line-height: 23.76px;
  font-weight: 700;
}

.icon-image {
  width: 56px;
  height: 56px;
  background-size: 56px 56px;
}

.icon-story {
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
}

.icon-story-each {
  width: 124px;
  margin-right: 1rem;
}

.icon-title {
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-top: 0.75rem;
}

.icon-desc {
  font-weight: 400;
  font-size: 13px;
  color: #7c7c7c;
  line-height: 17px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 150px;
  margin-left: 150px;
  margin-top: 25px;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-right: 50px;
  margin-top: 10px;
  font-size: 19px;
  width: 800px;
}

.item {
  display: flex;
  margin-right: 15px;
  margin-left: 15px;
}

.search {
  display: flex;
  background-color: #f2f3f6;
  width: 288px;
  height: 40px;
  margin-right: 40px;
  align-items: center;
  padding-left: 10px;
  border: none;
  border-radius: 5px;
}

.chat {
  border-style: ridge;
  padding-top: 5px;
  padding: 10px;
  border-radius: 5px;
  align-items: center;
  width: 80px;
}

/************ BODY 4 ****************/
.body4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1px;
}

.right_sec {
  padding: 0;
  margin: 0;
  outline: none;
  color: #212529;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin-left: 30px;
}

#taehyun, #city {
  width: 650px;
  height: 750px;
  margin-right: 30px;
}

#subhead1,
#subhead3 {
  font-weight: 700;
  font-size: 18px;
  color: #ff6f0f;
  margin-bottom: 10px;
}

#walk,
#near {
  font-size: 42px;
  line-height: 57px;
  margin: 1px;
  font-weight: 620;
}

#subhead2 {
  font-weight: 400;
  font-size: 20px;
  color: #7c7c7c;
  line-height: 30px;
  margin-bottom: 30px;
}

#bttn1,
#bttn2 {
  background-color: #e9ecef;
  color: #212529;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  padding: 13px 1rem;
  display: inline-block;
  margin-right: 10px;
  font-size: 18px;
  font-weight: 600;
}
/************ BODY 4 ****************/

/************ BODY 5 ****************/
.body5 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

#left_sec2 {
  padding: 0;
  margin: 0;
  outline: none;
  color: #212529;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin-right: 90px;
  margin-bottom: 25px;
}

#right_sec2 {
  margin-right: 10px;
}

#city {
  margin-right: 1px;
}

#subhead4 {
  font-weight: 400;
  font-size: 20px;
  color: #7c7c7c;
  line-height: 30px;
  margin-bottom: 30px;
  margin-top: 10px;
}
/************ BODY 5 ****************/

/*footer*/
#contents {
  margin-left: 350px;
  margin-right: 350px;
}

/* upper contents */
#upper {
  margin-top: 60px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom-style: solid;
  border-bottom-color: grey;
}

#left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#col1 {
  list-style-type: none;
}

#col2 {
  list-style-type: none;
}

#col3 {
  list-style-type: none;
}

#right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#boxes {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.button {
  border-style: solid;
  border-width: thin;
  border-color: grey;
  padding: 15px;
}

/* lower contents */
#lower {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#info {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

#info-upper {
  display: flex;
  margin-bottom: 30px;
  flex-direction: column;
  gap: 10px;
}

#info-bottom {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

#items {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#arrow {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  gap: 15px;
}

#bottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 50px;
  margin-top: 20px;
}
