.body_2 {
  display: flex;
  flex-direction: row;
}

.title {
  font-weight: 700;
  font-size: 18px;
  color: #ff6f0f;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 42px;
  line-height: 57px;
  margin-bottom: 10px;
}

.desc {
  font-weight: 400;
  font-size: 20px;
  color: #7c7c7c;
  line-height: 30px;
}

.buttons {
  margin-top: 3.2rem;
}

.buttons .button {
  background-color: #e9ecef;
  color: #212529;
  border: none;
  border-radius: 6px;
  padding: 12px 2rem;
  display: inline-block;
  margin-right: 10px;
}

.buttons .button-text {
  font-size: 18px;
  line-height: 23.76px;
  font-weight: 700;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 150px;
  margin-left: 150px;
  margin-top: 25px;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-right: 400px;
  margin-top: 10px;
  font-size: 19px;
}

.item {
  display: flex;
  margin-right: 15px;
  margin-left: 15px;
}

.chat {
  border-style: ridge;
  padding-top: 5px;
  padding: 10px;
  border-radius: 5px;
  align-items: center;
}
.body4 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

img {
  width: 650px;
  height: 750px;
}
